.nav {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 90px;
	width: 100%;
	background-color: #63966e;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
}

.sideMenuGrey {
	display: none
}

.sideMenuClosed {
	position: fixed;
	width: 66%;
	left: -66%;
	top: 60px;
	bottom: 0px;
	background-color: #63966e;
	transition-property: left;
	transition-duration: 0.2s;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.nav-logo {
	height: 50px;
	width: 50px;
	align-self: center;
	position: absolute;
	left: 25px;
}

.sideMenuOpen {
	position: fixed;
	width: 66%;
	left: 0%;
	top: 60px;
	bottom: 0px;
	background-color: #63966e;
	transition-property: left;
	transition-duration: 0.2s;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.fa-bars {
	display: none !important;
	align-self: center;
}

.nav-button {
	width: 90px;
	color: black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.nav-buttons-wrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

@media (min-width: 549px) {
	.sideMenuOpen {
		display: none;
	}
	.sideMenuClose {
		display: none;
	}
}

@media (max-width: 550px) {
	.nav-buttons-wrapper {
		display: none;
	}

	.sideMenuGrey {
		position: fixed;
		right: 0px;
		left: 0px;
		top: 0px;
		bottom: 0px;
	}

	.nav-logo {
		height: 50px;
		width: 50px;
		align-self: center;
		position: absolute;
		right: 25px !important;
		left: auto;
	}

	.nav {
		height: 60px;
		background-color: #63966e;
		justify-content: flex-start;
		align-items: center;
	}
	.fa-bars {
		display: block !important;
		margin-left: 15px;
		font-size: 35px !important;
		color: white;
	}
	.nav-button {
		width: auto;
		height: 60px;
		color: black;
		float: none;
		color: white;
	}
}

